@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

#contact {
    margin-bottom: 50px;
}

.contact-boxed-container {
    margin: 0 auto;
    width: 66%;
}

.contact-box-left {
    margin-top: -20px;
    width: 250px;
}

contact-box-right {
    margin-top: -20px;
    text-align: center;
    width: 250px;
}


h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

header {
    color: beige;
}

header>p {
    color: white;
}

header {
    background-color: black;
}

#drinks {
    padding: 1rem 0;
    margin-bottom: 80px;
}

.text-white {
    color: #FFFFFF;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
    font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

nav {
    padding: 1rem;
}

nav>a {
    text-decoration: none;
    color: beige;
    margin: 1rem;
}

nav>a:hover {
    color: silver;
}

.bold {
    font-weight: bold;
}

small {
    font-style: italic;
}

img {
    border-radius: 8px;
    width: 96%;
    margin: 2%;
}

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
    margin: 1rem 0;
}

.reasons-box {
    padding: 10px 5px 25px 5px;
    border-radius: 8px;
    width: 100%;
    margin: 2%;
}

.drinks-box {
    width: 33%;
}

th,
td {
    border-bottom: 1px solid black;
}

ul {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
}

footer>span {
    color: silver;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

footer>p {
    color: silver;
}

fieldset {
    border: none;
    margin-top: 20px;
}

input[type=submit] {
    margin-left: 0.75rem;
    margin-top: 20px;
    padding: 0.75rem;
    background-color: #5e361b;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    margin: 0px auto;
}

#map-wrapper {
    margin-bottom: 55px;
    height: 300px;
}

label {
    margin: 10px 15px 5px 0;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

form {
    width: 700px;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

#terms {
    margin: 1.5rem 0 0 15px;
    padding: 0.5rem;
    border: 1px solid grey;
    height: 200px;
    width: 90%;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}